body{
	background-image:url("../imagens/wallpaper.jpg");
	background-repeat: no-repeat;
	background-position: 0;
	background-attachment: fixed;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 1.6;
}
#menu{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: rgba(19, 102, 197, 0.137);
	list-style: none;
	text-align: center;
	font-size: 24pt;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#menu li{
	display: inline;
}
#menu li a{
	padding: 1px 10px;
	display: inline-block;
	color: rgb(235, 235, 235);
	text-shadow: #6d6d6d;
	text-decoration: none;
	border-bottom: 5px solid #dfe9f5af;
}
#menu li a:hover{
	background-color: #c79d9d2c;
	color: #56c7ae;
	border-bottom: 5px solid #b8b51a;
}
#home{
	color:#CCC;
	font-size:16pt;
	width: auto;
	font-family:arial;
	text-align: center;
	text-shadow:2px 2px 2px rgb(27, 23, 23);
	margin: 10px 20px 10px 20px;
	padding: 10px 10px 10px 10px;
	}
#texto{
		color:#CCC;
		font-size: 16pt;
		font-family:arial;
		text-align:left;
		width: 595px;
		text-shadow:2px 2px 2px rgb(27, 23, 23);
}
#texto2{
	color:rgb(255, 255, 255);
	font-size: 16pt;
	font-family:arial;
	text-align:left;
	width: 600px;
	text-shadow:2px 2px 2px rgb(27, 23, 23);
}
h1{
color:#dfe9f5;
font-size:48pt;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align:center;
text-shadow: 2px 2px 3px #000
}

h2{
color:rgb(199, 199, 199);
font-size:24pt;
font-family:Arial;
text-align:Left;
text-shadow: 2px 2px 3px #000
}
h3{
color:rgb(153, 233, 226);
font-size:24pt;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align:left;
text-shadow: 2px 2px 3px rgb(115, 116, 91)	
}

section{
	margin: auto;
	width: 70pc;
	
}
article{
	margin: 10px 30px 10px 30px;
}



#photos{
	margin-top: 60px;
	margin-right: 40px;
	margin-bottom: 50px;
	border: rgba(107, 107, 110, 0.349);
	border-style: double;
	border-radius: 5%;
	padding: 5px;
	width: 400px ;
	height: 400px;
}
#photo1{
	margin-top: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
	border: #a2a3e9;
	border-style: double;
	border-radius: 10%;
	padding: 5px;
	width: 300px ;
	height: 300px;
}


footer{
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #750e0eab;
	text-align: center;

}
div{
	font-size: 10pt;
	color: #CCC;
}

