#nomes{
    color:azure;
}
#fotos{
    position: relative;
}
#album-fotos{

    width:100%;
	padding:50px;
	overflow:hidden;
	list-style:none;

}

#album-fotos li{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float:left;
	width:185px;
	height:185px;
	margin:5px;
    border: 2px double rgb(44, 82, 206);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	-webkit-transition: all .3s ease-in;
}

#album-fotos li span{
	opacity:0;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	background-color:rgba(0,0,0,0.3);
	font-size:9pt;
	line-height:340px;
	padding:5px;
}

#album-fotos li:hover{
	-webkit-transform:scale(1.5);
}

#album-fotos li:hover span{
	opacity:1;
}

#album-fotos li#foto1{
    background-image:url("../imagens/perfil.jpeg");
	background-position:50% 50%;
	background-size:400px 400px;
	background-color:fff;
}

#album-fotos li#foto1:hover{
	background-position:0px 0px;
	background-size:180px 180px;
}

#album-fotos li#foto2{
    background-image:url("../imagens/perfil.jpeg");
	background-position:50% 50%;
	background-size:400px 400px;
	background-color:fff;
}

#album-fotos li#foto2:hover{
	background-position:0px 0px;
	background-size:180px 180px;
}

#album-fotos li#foto3{
    background-image:url("../imagens/perfil.jpeg");
	background-position:50% 50%;
	background-size:400px 400px;
	background-color:fff;
}

#album-fotos li#foto3:hover{
	background-position:0px 0px;
	background-size:180px 180px;
}

#album-fotos li#foto4{
    background-image:url("../imagens/perfil.jpeg");
	background-position:50% 50%;
	background-size:400px 400px;
	background-color:fff;
}

#album-fotos li#foto4:hover{
	background-position:0px 0px;
	background-size:180px 180px;
}

#album-fotos li#foto5{
    background-image:url("../imagens/perfil.jpeg");
	background-position:50% 50%;
	background-size:400px 400px;
	background-color:fff;
}

#album-fotos li#foto5:hover{
	background-position:0px 0px;
	background-size:180px 180px;
}

